*{
    /* clear issues with margin or padding */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background: #333; */
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Genericons';
    src: url("../fonts/genericons-regular-webfont.woff")format("woff"),
     url("../fonts/genericons-regular-webfont.eot")format("truetype");
}



img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}

.btn:hover {
    background: #eaeaea;
    color: #333;
}

/* Header */

.v-header{
    height:100vh;
    display: flex;
    align-items:center;
    color:#fff;
}

.container{
    max-width: 960px;
    padding-left:1rem;
    padding-right: 1rem;
    margin:auto;
    text-align:center;
}

.fullscreen-video-wrap {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.75;
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}

header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

.btn {
    background: #34b3a0;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

@media(max-width:960px) {

    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

/* #showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url('https://static.pexels.com/photos/6482/black-and-white-man-person-hands.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.5;
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#section-a  .content-wrap {
    padding: 0 1.5em;
} */

/* Section A */

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}


/* Section B */

#section-b {
    padding: 2em 1em 1em;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

/* Section C */

#section-c {
    background: #666;
    color: #333;
    padding: 2em;
}

/* Section D */

#section-d .box {
    padding: 2em;
    color: #fff;
    background: #225470;
}

#section-d .box:first-child {
    background: #2690d4;
}

/* Section E - Accordion Social Media */
.container {
    margin: 50px auto;
    width: 90%;
}

header h1 {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
  }

  .accordion {
      background: #333;
      width: 100%;
      min-width: 800px;
      display: block;
      list-style-type: none;
      overflow: hidden;
      height: 200px;
      font-size: 0;
  }

  .tab {
      display: inline-block;
      background-color: #444;
      border-right: #333 solid 1px;
      width: 80px;
      height: 200px;
      overflow: hidden;
      position: relative;
      margin: 0;
      transition: all 0.5s ease-in-out 0.1s;
  }

  .tab:hover {
      width: 450px;
  }

  .tab:hover .social a:before {
    margin-left: -100px;
  }
  
  .tab:hover .social a:after {
    margin-left: -5px;
  }
  
  .tab .content {
    background: #fff;
    width: 360px;
    height: 200px;
    margin-left: 80px;
    /* padding: 0px 0 0 15px; */
    position: relative;
  }

  .tab .content h1 {
    font-size: 2.0rem;
    margin-bottom: 0px;
    padding-top: 30px;
  }

  .tab .content p {
      font-size: 0.85rem;
      line-height: 0.2rem;
      padding-right: 30px;
      /* padding-bottom: 240px; */
  }

  .social a:before,
  .social a:after {
      transition: all 0.4s ease-in-out 0.1s;
      width: 80px;
      height: 200px;
      position: absolute;
      text-indent: 0;
      padding-top: 90px;
      /* padding-left: 25px; */
      display: block;
      font: normal 30px Genericons;
      color: #fff;
  }

  .social a:after {
      font-size: 48px;
      padding-left: 5px;
      padding-top: 80px;
      margin-left: 85px;
  }
  

  /* ADD ICON */
  /* Youtube */
  .youtube a:before,
  .youtube a:after {
      content: '\f213';
  }

  .youtube a:after {
      background-color: #ff0000;
  }

/* Twitter */
  .twitter a:before,
  .twitter a:after {
      content: '\f202';
  }

  .twitter a:after {
      background-color: #6dc5dd;
  }


  /* Facebook */

  .facebook a:before,
  .facebook a:after {
      content: '\f204';
  }

  .facebook a:after {
      background-color: #3b5998;
  }

  /* linkedin */

  .linkedin a:before,
  .linkedin a:after {
      content: '\f208';
  }

  .linkedin a:after {
      background-color: #00a9cd;
  }

/* Instagram */
  .instagram a:before,
  .instagram a:after {
      content: '\f215';
  }

  .instagram a:after {
      background-color: #6dc993;
  }

/* Github */
  .github a:before,
  .github a:after {
      content: '\f200';
  }

  .github a:after {
      background-color: #6e5494;
  }

/* Accordion small screen */
@media(max-width: 950px) {
    .container {
        width: 70%;
    }

    .tab {
        display: block;
        width: 100%;
        border-bottom: 3px #333 solid;
    }

    .accordion {
        display: block;
        min-width: 450px;
        height: auto;
    }

    .tab .content {
        width: 85%;
    }

    .tab:hover {
        width: 100%;
    }
}

@media (max-width: 680px) {

    .container {
        width: 95%;
    }

    .accordion {
        width: 100%;
        min-width: 350px;
    }
}



/* Footer */

#main-footer {
    padding: 1em;
    background: #000;
    color: #fff;
    text-align: center;
}

/* Media Query (Big Screen) */

@media(min-width: 700px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 2;
        column-gap: 2em;
    }
    #section-a .content-text p {
        padding-top: 0;
    }
    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 4;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
    }
    #section-b li {
        width: 31%
    }

}


